#container {
	max-width:800px;
	margin:10px auto 20px auto;
	padding:0 20px;
	font-family:"Helvetica .Neue",Arial,"Hiragino .Kaku .Gothic .ProN","Hiragino .Sans","BIZ .UDPGothic",Meiryo,sans-serif;
/*
	font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
*/
	font-feature-settings:"palt";
	box-sizing:border-box;
	text-align: center;
	overflow: hidden;
}



.main {
	margin:0 auto;
}

.title {
	font-family:"Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
	margin:0 auto;
}



.title img {
	width: 100%;
}

.flex p{
	text-align: left;
}

/*.txt-jpn {
	
}

.txt-en {
}*/
.panel_box{
	margin:0 auto;
	/*
	justify-content: space-between;
	*/
}

.panel_box img{
	width: 45%;
	margin-bottom: 1em;
}

/*
	 概要
*/
.overview {
	margin:40px auto;
	width:100%;
}


.ovv_btn,
.ovv_lnk,
.ovv_title {
	margin:20px auto;
	width:100%;
}

.ovv_text{
	font-size: 3.4vw;
}

.ovv_img{
	margin:20px auto 0 auto;
	width:100%;
}

.ovv_imgbox{
	width:60%;
	margin:0 auto;
}

.ovv_imgbox img {
	padding: 3.5px;
	width: 100%;
	height: auto;
}

.ovv_imgbox p{
	font-size:3.5vw;
	padding-left: 0.4vw;
	border-left: 1.2vw solid #00CCCC;
}

.overview p {
	text-align:left;
	width:100%;
	margin:0 auto;

}

.ovv_title img {
	width: 100%;
}
/* 概要　タイトル　背景色　１～６ */



.num{
	font-size: 8px;
}

.ovv_btn img{
	padding: 3.5px;
	width: 55%;
	height: auto;
}

.ovv_lnk a{
	color:#7F7F7F;
	text-decoration: none;
	border: 1px solid;
	padding:2px 2px;
	margin:0.25em 0.25em;
}

.ovv_lnk{
	text-align: left;
}

.ovv_lnk a:hover{
	color:#FFFFFF;
	background-color:#7F7F7F;
}

#page_top img{
	width: 10%;
	height: auto;
	position: fixed;
	right: 0;
	bottom: 0;
}

.references{
	font-size: 3.4vw;
	text-align: left;
}

@media screen and (min-width: 450px), print{
	.panel_box img{
		width: 32%;
	}
	
	.ovv_imgbox{
		width:30%;
	}


	.ovv_imgbox p{
		font-size:2vw;
		padding-left: 0.4vw;
		border-left: 0.7vw solid #00CCCC;
		
	}

	.ovv_text{
		font-size:2.3vw;
	}
	
	.ovv_btn img{
		width: 30%;
	}
	
	.flex {
		display: flex;
 		justify-content: space-between;
		text-align: left;
	}
	.txt-jpn {
		width: 55%;
	}

	.txt-en {
		width: 40%;
	}

	.references{
		font-size: 2.3vw;
	}
	
	
	#page_top img{
		width:5%;
	}
}

@media screen and (min-width: 712px), print{
	.ovv_text{
		font-size: 16px;
	}

	.references{
		font-size: 16px;
	}

	.ovv_imgbox p{
		font-size: 16px;
		border-left: 6px solid #00CCCC;
	}
}
